.idea/
.vscode/
test/
**/application/views/cache_compile/
**/application/views/cache/
tipfile/*.txt
pidfile/*.pid
.php_cs.cache
php_cs_fixer.txt
config_pools.php
config_projects.php
helper_load.php
helper_php.php
